{"openapi":"3.1.0","info":{"title":"Discpedia API","version":"v1"},"servers":[{"url":"https://discpedia.roundtable02.com","description":"Production"}],"tags":[{"name":"V1 Reviews","description":"클라이언트 리뷰 API 명세"},{"name":"V1 Aladin","description":"클라이언트 알라딘 음반 API 명세"},{"name":"V1 Auth","description":"클라이언트 인증 API 명세"},{"name":"V1 User","description":"클라이언트 사용자 API 명세"},{"name":"V1 Artists","description":"클라이언트 아티스트 API 명세"},{"name":"Aladin Music Release Admin","description":"알라딘 음반 신간 수집 관리자 API"},{"name":"V1 Collections","description":"클라이언트 컬렉션 API 명세"},{"name":"Home","description":"API 상태와 내 프로필 API"}],"paths":{"/api/v1/reviews/{reviewId}/like":{"put":{"tags":["V1 Reviews"],"summary":"리뷰 좋아요","operationId":"likeReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewLikeResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["V1 Reviews"],"summary":"리뷰 좋아요 취소","operationId":"unlikeReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewLikeResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/me/favorite-artists":{"get":{"tags":["V1 User"],"summary":"관심 아티스트 조회","operationId":"favoriteArtists","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListFavoriteArtistResponse"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["V1 User"],"summary":"관심 아티스트 저장","operationId":"updateFavoriteArtists","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFavoriteArtistsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUpdateFavoriteArtistsResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/collections":{"get":{"tags":["V1 Collections"],"summary":"내 컬렉션 목록","operationId":"collections","parameters":[{"name":"mediaType","in":"query","required":false,"schema":{"type":"string","enum":["LP","CD","ETC"]}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["OWNED","WISHLIST"]}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseCollectionItemResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["V1 Collections"],"summary":"컬렉션 등록","operationId":"createCollection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCollectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCollectionCreatedResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/auth/refresh":{"post":{"tags":["V1 Auth"],"summary":"토큰 재발급","operationId":"refresh","parameters":[{"name":"refresh_token","in":"cookie","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOAuthLoginResponse"}}}}}}},"/api/v1/auth/oauth/{provider}/login":{"post":{"tags":["V1 Auth"],"summary":"OAuth 인가 코드 로그인","operationId":"oauthLogin","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOAuthLoginResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["V1 Auth"],"summary":"로그아웃","operationId":"logout","parameters":[{"name":"refresh_token","in":"cookie","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/albums/{aladinItemId}/reviews":{"get":{"tags":["V1 Reviews"],"summary":"음반 리뷰 목록","operationId":"reviews","parameters":[{"name":"aladinItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"LATEST","enum":["LATEST","RATING_DESC","RATING_ASC"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseReviewResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["V1 Reviews"],"summary":"리뷰 작성","operationId":"createReview","parameters":[{"name":"aladinItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewMutationResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/admin/aladin/music-new-releases/import":{"post":{"tags":["Aladin Music Release Admin"],"summary":"알라딘 음반 신간 수집","description":"알라딘 API에서 음반 신간 목록을 가져와 DB에 저장합니다.","operationId":"importNewReleases","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AladinMusicReleaseImportResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/reviews/{reviewId}":{"delete":{"tags":["V1 Reviews"],"summary":"리뷰 삭제","operationId":"deleteReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["V1 Reviews"],"summary":"리뷰 수정","operationId":"updateReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewMutationResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/collections/{collectionItemId}":{"get":{"tags":["V1 Collections"],"summary":"컬렉션 상세","operationId":"collection","parameters":[{"name":"collectionItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCollectionItemDetailResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["V1 Collections"],"summary":"컬렉션 삭제","operationId":"deleteCollection","parameters":[{"name":"collectionItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["V1 Collections"],"summary":"컬렉션 수정","operationId":"updateCollection","parameters":[{"name":"collectionItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCollectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCollectionItemDetailResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/me":{"get":{"tags":["Home"],"summary":"내 프로필 조회","description":"Bearer JWT에 담긴 사용자 프로필 정보를 반환합니다.","operationId":"meApi","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/me":{"get":{"tags":["V1 User"],"summary":"내 프로필 조회","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserProfileResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/me/reviews":{"get":{"tags":["V1 User"],"summary":"내 리뷰 모아보기","operationId":"myReviews","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseMyReviewResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/collections/summary":{"get":{"tags":["V1 Collections"],"summary":"컬렉션 통계 조회","operationId":"summary","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCollectionSummaryResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/auth/oauth/{provider}/authorize":{"get":{"tags":["V1 Auth"],"summary":"OAuth 로그인 URL 발급","operationId":"authorize","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOAuthAuthorizeResponse"}}}}}}},"/api/v1/artists":{"get":{"tags":["V1 Artists"],"summary":"아티스트 검색","description":"DiscPedia 내부 아티스트 목록에서 검색합니다. q가 없거나 빈 값이면 전체 목록을 이름순으로 조회합니다.","operationId":"artists","parameters":[{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20,"maximum":50,"minimum":1}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0,"maximum":1000,"minimum":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArtistSearchResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/aladin":{"get":{"tags":["V1 Aladin"],"summary":"알라딘 음반 검색","description":"알라딘 음반 상품을 앨범명과 가수명으로 검색합니다.","operationId":"searchAlbums","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string","minLength":1}},{"name":"artist","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":5,"maximum":50,"minimum":1}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0,"maximum":199,"minimum":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlbumSearchResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/aladin/{aladinItemId}":{"get":{"tags":["V1 Aladin"],"summary":"알라딘 음반 상세 조회","operationId":"album","parameters":[{"name":"aladinItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAlbumDetailResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/aladin/used":{"get":{"tags":["V1 Aladin"],"summary":"알라딘 최신 중고 음반 목록","operationId":"usedAlbums","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseMarketAlbumResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/aladin/new-releases":{"get":{"tags":["V1 Aladin"],"summary":"알라딘 저장 신보 목록","operationId":"newReleases","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseNewReleaseResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/":{"get":{"tags":["Home"],"summary":"API 상태","description":"서버 상태와 OAuth 로그인 시작 경로를 반환합니다.","operationId":"homeApi","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}},"components":{"schemas":{"ApiResponseReviewLikeResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/ReviewLikeResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"ReviewLikeResponse":{"type":"object","properties":{"reviewId":{"type":"integer","format":"int64","example":1},"likeCount":{"type":"integer","format":"int32","example":12},"likedByMe":{"type":"boolean","example":true}}},"UpdateFavoriteArtistsRequest":{"type":"object","properties":{"artistIds":{"type":"array","example":[1,4],"items":{"type":"integer","format":"int64"}},"completeOnboarding":{"type":"boolean","example":true}},"required":["artistIds"]},"ApiResponseUpdateFavoriteArtistsResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/UpdateFavoriteArtistsResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"FavoriteArtistResponse":{"type":"object","properties":{"artistId":{"type":"integer","format":"int64","example":1},"name":{"type":"string","example":"잔나비"},"initial":{"type":"string","example":"Z"}}},"UpdateFavoriteArtistsResponse":{"type":"object","properties":{"favoriteArtists":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteArtistResponse"}},"onboardingCompleted":{"type":"boolean","example":true}}},"CreateCollectionRequest":{"type":"object","properties":{"aladinItemId":{"type":"integer","format":"int64","example":111222333},"status":{"type":"string","enum":["OWNED","WISHLIST"]},"condition":{"type":"string","enum":["NEW","SEALED","USED"]},"purchasePrice":{"type":"integer","format":"int32","example":45000,"minimum":0},"purchaseDate":{"type":"string","format":"date","example":"2026-04-05"},"purchasePlace":{"type":"string","example":"알라딘"},"memo":{"type":"string","example":"너무너무 좋았다"}},"required":["aladinItemId","condition","purchasePrice","status"]},"ApiResponseCollectionCreatedResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/CollectionCreatedResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"CollectionCreatedResponse":{"type":"object","properties":{"collectionItemId":{"type":"integer","format":"int64","example":1001}}},"AccessToken":{"type":"object","description":"JWT 액세스 토큰","properties":{"token":{"type":"string","description":"Bearer 인증에 사용할 JWT","example":"eyJhbGciOiJIUzI1NiJ9..."},"tokenType":{"type":"string","description":"토큰 타입","example":"Bearer"},"expiresIn":{"type":"integer","format":"int64","description":"만료까지 남은 초","example":3600}}},"ApiResponseOAuthLoginResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/OAuthLoginResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"OAuthLoginResponse":{"type":"object","properties":{"accessToken":{"$ref":"#/components/schemas/AccessToken"},"userId":{"type":"string","example":"kakao_123456"},"nickname":{"type":"string","example":"준서초이"},"provider":{"type":"string","example":"KAKAO"},"onboardingCompleted":{"type":"boolean","example":false}}},"OAuthLoginRequest":{"type":"object","properties":{"code":{"type":"string","example":"authorization-code","minLength":1},"state":{"type":"string","example":"opaque-state","minLength":1}},"required":["code","state"]},"ApiResponseVoid":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"CreateReviewRequest":{"type":"object","properties":{"rating":{"type":"number","format":"double","example":4.5,"maximum":5.0,"minimum":0.0},"content":{"type":"string","example":"처음 입문하기 좋은 앨범인 것 같아요. 추천합니다.","minLength":1}},"required":["content"]},"ApiResponseReviewMutationResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/ReviewMutationResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"ReviewMutationResponse":{"type":"object","properties":{"reviewId":{"type":"integer","format":"int64","example":10},"albumId":{"type":"integer","format":"int64","example":393132321},"rating":{"type":"number","format":"double","example":4.5},"content":{"type":"string","example":"처음 입문하기 좋은 앨범인 것 같아요. 추천합니다."},"createdAt":{"type":"string","format":"date-time","example":"2026-05-03T12:00:00"}}},"AladinMusicReleaseImportResult":{"type":"object","description":"알라딘 음반 신간 수집 결과","properties":{"fetchedCount":{"type":"integer","format":"int32","description":"알라딘 API에서 새로 수집 대상으로 판단한 항목 수","example":20},"savedCount":{"type":"integer","format":"int32","description":"DB에 저장한 항목 수","example":20},"stoppedByExistingItem":{"type":"boolean","description":"이미 저장된 최신 항목을 만나 수집을 중단했는지 여부","example":true}}},"ApiResponseCollectionItemDetailResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/CollectionItemDetailResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"CollectionAlbumDetailResponse":{"type":"object","properties":{"aladinItemId":{"type":"integer","format":"int64","example":111222333},"title":{"type":"string","example":"리스트 : 피아노 협주곡 1번 / 라벨 : 피아노 협주곡"},"artistName":{"type":"string","example":"리스트"},"releaseDate":{"type":"string","example":"2026-03-31"},"mediaType":{"type":"string","enum":["LP","CD","ETC"]},"categoryPath":{"type":"string","example":"음반>클래식>협주곡"},"coverImageUrl":{"type":"string","example":"https://cdn.example.com/albums/201.jpg"},"listPrice":{"type":"integer","format":"int32","example":25600}}},"CollectionItemDetailResponse":{"type":"object","properties":{"collectionItemId":{"type":"integer","format":"int64","example":1001},"album":{"$ref":"#/components/schemas/CollectionAlbumDetailResponse"},"status":{"type":"string","enum":["OWNED","WISHLIST"]},"condition":{"type":"string","enum":["NEW","SEALED","USED"]},"purchasePrice":{"type":"integer","format":"int32","example":45000},"purchaseDate":{"type":"string","format":"date","example":"2026-04-05"},"purchasePlace":{"type":"string","example":"알라딘"},"memo":{"type":"string","example":"너무너무 좋았다"},"marketValue":{"$ref":"#/components/schemas/CollectionMarketValueResponse"}}},"CollectionMarketValueResponse":{"type":"object","properties":{"currentEstimatedPrice":{"type":"integer","format":"int32","example":55000},"priceChangeRate":{"type":"number","format":"double","example":22.0},"priceChangeAmount":{"type":"integer","format":"int32","example":10000}}},"UserProfileResponse":{"type":"object","description":"로그인 사용자 프로필","properties":{"subject":{"type":"string","description":"JWT subject","example":"1"},"provider":{"type":"string","description":"OAuth 제공자","example":"google"},"providerId":{"type":"string","description":"OAuth 제공자의 사용자 식별자","example":"123456789"},"email":{"type":"string","description":"이메일","example":"user@example.com"},"name":{"type":"string","description":"사용자 이름","example":"Disc User"}}},"ApiResponseUserProfileResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/UserProfileResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"AlbumBriefResponse":{"type":"object","properties":{"albumId":{"type":"integer","format":"int64","example":393132321},"title":{"type":"string","example":"Team Baby LP"},"artistName":{"type":"string","example":"검정치마"},"coverImageUrl":{"type":"string","example":"https://image.aladin.co.kr/product/39313/23/coversum/example.jpg"}}},"ApiResponsePageResponseMyReviewResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/PageResponseMyReviewResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"MyReviewResponse":{"type":"object","properties":{"reviewId":{"type":"integer","format":"int64","example":1},"album":{"$ref":"#/components/schemas/AlbumBriefResponse"},"rating":{"type":"number","format":"double","example":5.0},"content":{"type":"string","example":"좋음, 좋음, 좋음!"},"createdAt":{"type":"string","format":"date-time","example":"2026-04-05T12:00:00"}}},"PageResponseMyReviewResponse":{"type":"object","description":"페이지 응답","properties":{"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/MyReviewResponse"}},"page":{"type":"integer","format":"int32","description":"0부터 시작하는 페이지 번호","example":0},"size":{"type":"integer","format":"int32","description":"페이지 크기","example":20},"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수","example":120},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수","example":6},"hasNext":{"type":"boolean","description":"다음 페이지 존재 여부","example":true}}},"ApiResponseListFavoriteArtistResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"type":"array","description":"응답 데이터","items":{"$ref":"#/components/schemas/FavoriteArtistResponse"}},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"ApiResponsePageResponseCollectionItemResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/PageResponseCollectionItemResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"CollectionAlbumResponse":{"type":"object","properties":{"aladinItemId":{"type":"integer","format":"int64","example":111222333},"title":{"type":"string","example":"리스트 : 피아노 협주곡 1번 / 라벨 : 피아노 협주곡"},"artistName":{"type":"string","example":"리스트"},"releaseDate":{"type":"string","example":"2026-03-31"},"mediaType":{"type":"string","enum":["LP","CD","ETC"]},"coverImageUrl":{"type":"string","example":"https://cdn.example.com/albums/201.jpg"}}},"CollectionItemResponse":{"type":"object","properties":{"collectionItemId":{"type":"integer","format":"int64","example":1001},"album":{"$ref":"#/components/schemas/CollectionAlbumResponse"},"status":{"type":"string","enum":["OWNED","WISHLIST"]},"condition":{"type":"string","enum":["NEW","SEALED","USED"]},"purchasePrice":{"type":"integer","format":"int32","example":45000},"currentEstimatedPrice":{"type":"integer","format":"int32","example":55000},"priceChangeRate":{"type":"number","format":"double","example":22.0},"priceChangeAmount":{"type":"integer","format":"int32","example":10000}}},"PageResponseCollectionItemResponse":{"type":"object","description":"페이지 응답","properties":{"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/CollectionItemResponse"}},"page":{"type":"integer","format":"int32","description":"0부터 시작하는 페이지 번호","example":0},"size":{"type":"integer","format":"int32","description":"페이지 크기","example":20},"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수","example":120},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수","example":6},"hasNext":{"type":"boolean","description":"다음 페이지 존재 여부","example":true}}},"ApiResponseCollectionSummaryResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/CollectionSummaryResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"CollectionCountsResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int32","example":25},"lp":{"type":"integer","format":"int32","example":18},"cd":{"type":"integer","format":"int32","example":7},"wishlist":{"type":"integer","format":"int32","example":5},"etc":{"type":"integer","format":"int32","example":18}}},"CollectionSummaryResponse":{"type":"object","properties":{"totalValue":{"type":"integer","format":"int32","example":1274000},"counts":{"$ref":"#/components/schemas/CollectionCountsResponse"}}},"ApiResponseOAuthAuthorizeResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/OAuthAuthorizeResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"OAuthAuthorizeResponse":{"type":"object","properties":{"provider":{"type":"string","example":"kakao"},"authorizationUrl":{"type":"string","example":"https://kauth.kakao.com/oauth/authorize?..."},"state":{"type":"string","example":"opaque-state"}}},"ArtistSearchResponse":{"type":"object","properties":{"limit":{"type":"integer","format":"int32","example":20},"offset":{"type":"integer","format":"int32","example":0},"total":{"type":"integer","format":"int64","example":1},"items":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteArtistResponse"}}}},"ApiResponsePageResponseReviewResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/PageResponseReviewResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"PageResponseReviewResponse":{"type":"object","description":"페이지 응답","properties":{"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/ReviewResponse"}},"page":{"type":"integer","format":"int32","description":"0부터 시작하는 페이지 번호","example":0},"size":{"type":"integer","format":"int32","description":"페이지 크기","example":20},"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수","example":120},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수","example":6},"hasNext":{"type":"boolean","description":"다음 페이지 존재 여부","example":true}}},"ReviewResponse":{"type":"object","properties":{"reviewId":{"type":"integer","format":"int64","example":1},"writer":{"$ref":"#/components/schemas/ReviewWriterResponse"},"rating":{"type":"number","format":"double","example":5.0},"content":{"type":"string","example":"음질이 너무 좋네요. 역시 명반입니다. 꼭 들어보세요!"},"likeCount":{"type":"integer","format":"int32","example":1993},"likedByMe":{"type":"boolean","example":true},"commentCount":{"type":"integer","format":"int32","example":0},"createdAt":{"type":"string","format":"date-time","example":"2026-04-05T12:00:00"}}},"ReviewWriterResponse":{"type":"object","properties":{"userId":{"type":"string","example":"user-1"},"nickname":{"type":"string","example":"음악매니아"},"profileInitial":{"type":"string","example":"음"}}},"AlbumResponse":{"type":"object","properties":{"aladinItemId":{"type":"integer","format":"int64","example":393132321},"title":{"type":"string","example":"Team Baby LP"},"artistName":{"type":"string","example":"검정치마"},"mediaType":{"type":"string","enum":["LP","CD","ETC"]},"releaseDate":{"type":"string","example":"2026-05-13"},"coverImageUrl":{"type":"string","example":"https://image.aladin.co.kr/product/39313/23/coversum/example.jpg"},"productUrl":{"type":"string","example":"https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=393132321"},"publisher":{"type":"string","example":"알라딘(디폴트)"},"categoryName":{"type":"string","example":"음반>가요>LP"},"priceSales":{"type":"integer","format":"int32","example":39000},"priceStandard":{"type":"integer","format":"int32","example":55000}}},"AlbumSearchResponse":{"type":"object","properties":{"limit":{"type":"integer","format":"int32","example":10},"offset":{"type":"integer","format":"int32","example":0},"total":{"type":"integer","format":"int32","example":42},"items":{"type":"array","items":{"$ref":"#/components/schemas/AlbumResponse"}}}},"AlbumDetailResponse":{"type":"object","properties":{"aladinItemId":{"type":"integer","format":"int64","example":393132321},"title":{"type":"string","example":"Team Baby LP"},"artistName":{"type":"string","example":"검정치마"},"mediaType":{"type":"string","enum":["LP","CD","ETC"]},"releaseDate":{"type":"string","example":"2026-05-13"},"coverImageUrl":{"type":"string","example":"https://image.aladin.co.kr/product/39313/23/coversum/example.jpg"},"productUrl":{"type":"string","example":"https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=393132321"},"publisher":{"type":"string","example":"알라딘(디폴트)"},"categoryName":{"type":"string","example":"음반>가요>LP"},"priceSales":{"type":"integer","format":"int32","example":39000},"priceStandard":{"type":"integer","format":"int32","example":55000},"description":{"type":"string","example":"상품 설명"},"isbn":{"type":"string","example":"U123"},"isbn13":{"type":"string","example":"9790000000001"},"mallType":{"type":"string","example":"MUSIC"},"stockStatus":{"type":"string"},"mileage":{"type":"integer","format":"int32","example":0},"salesPoint":{"type":"integer","format":"int32","example":31},"adult":{"type":"boolean","example":false},"fixedPrice":{"type":"boolean","example":true},"customerReviewRank":{"type":"integer","format":"int32","example":0},"subInfo":{"$ref":"#/components/schemas/JsonNode"},"used":{"$ref":"#/components/schemas/AlbumUsedInfoResponse"},"reviewSummary":{"$ref":"#/components/schemas/ReviewSummaryResponse"}}},"AlbumUsedInfoResponse":{"type":"object","properties":{"usedPrice":{"type":"integer","format":"int32","example":39000},"originalPrice":{"type":"integer","format":"int32","example":55000},"usedType":{"type":"string","example":"userUsed"},"subInfo":{"$ref":"#/components/schemas/JsonNode"}}},"ApiResponseAlbumDetailResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/AlbumDetailResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"JsonNode":{"type":"object","properties":{"nodeType":{"type":"string","enum":["ARRAY","BINARY","BOOLEAN","MISSING","NULL","NUMBER","OBJECT","POJO","STRING"]},"string":{"type":"boolean"},"integralNumber":{"type":"boolean"},"missingNode":{"type":"boolean"},"valueNode":{"type":"boolean"},"container":{"type":"boolean"},"object":{"type":"boolean"},"pojo":{"type":"boolean"},"floatingPointNumber":{"type":"boolean"},"short":{"type":"boolean"},"int":{"type":"boolean"},"long":{"type":"boolean"},"double":{"type":"boolean"},"bigDecimal":{"type":"boolean"},"bigInteger":{"type":"boolean"},"textual":{"type":"boolean","deprecated":true},"boolean":{"type":"boolean"},"binary":{"type":"boolean"},"array":{"type":"boolean"},"empty":{"type":"boolean"},"null":{"type":"boolean"},"float":{"type":"boolean"},"number":{"type":"boolean"},"embeddedValue":{"type":"boolean"}}},"ReviewSummaryResponse":{"type":"object","properties":{"averageRating":{"type":"number","format":"double","example":4.5},"ratingCount":{"type":"integer","format":"int32","example":3},"ratingDistribution":{"type":"object","additionalProperties":{"type":"integer","format":"int32"},"example":{"5":1,"4":1,"3":1,"2":0,"1":0}}}},"ApiResponsePageResponseMarketAlbumResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/PageResponseMarketAlbumResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"MarketAlbumResponse":{"type":"object","properties":{"aladinItemId":{"type":"integer","format":"int64","example":393132321},"title":{"type":"string","example":"[수입][LP] Kaori Momoi - Kaori Momoi Live [Gatefold] [2LP]"},"artistName":{"type":"string","example":"래리 칼튼 (Larry Carlton)"},"mediaType":{"type":"string","enum":["LP","CD","ETC"]},"usedPrice":{"type":"integer","format":"int32","example":10000},"originalPrice":{"type":"integer","format":"int32","example":70900},"coverImageUrl":{"type":"string","example":"https://image.aladin.co.kr/product/39313/23/coversum/scm123780796463.jpg"},"productUrl":{"type":"string","example":"https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=393132321"},"usedType":{"type":"string","example":"userUsed"},"categoryName":{"type":"string","example":"중고샵>음반>LP>팝"},"publisher":{"type":"string","example":"알라딘(디폴트)"}}},"PageResponseMarketAlbumResponse":{"type":"object","description":"페이지 응답","properties":{"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/MarketAlbumResponse"}},"page":{"type":"integer","format":"int32","description":"0부터 시작하는 페이지 번호","example":0},"size":{"type":"integer","format":"int32","description":"페이지 크기","example":20},"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수","example":120},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수","example":6},"hasNext":{"type":"boolean","description":"다음 페이지 존재 여부","example":true}}},"ApiResponsePageResponseNewReleaseResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"message":{"type":"string","description":"응답 메시지","example":"OK"},"data":{"$ref":"#/components/schemas/PageResponseNewReleaseResponse","description":"응답 데이터"},"timestamp":{"type":"string","format":"date-time","description":"응답 생성 시각","example":"2026-05-03T12:00:00Z"}}},"NewReleaseResponse":{"type":"object","properties":{"newReleaseId":{"type":"integer","format":"int64","example":1},"aladinItemId":{"type":"integer","format":"int64","example":393132321},"title":{"type":"string","example":"Team Baby LP"},"artistName":{"type":"string","example":"검정치마"},"mediaType":{"type":"string","enum":["LP","CD","ETC"]},"releaseDate":{"type":"string","example":"2026-05-13"},"priceSales":{"type":"integer","format":"int32","example":39000},"priceStandard":{"type":"integer","format":"int32","example":55000},"coverImageUrl":{"type":"string","example":"https://image.aladin.co.kr/product/39313/23/coversum/example.jpg"},"productUrl":{"type":"string","example":"https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=393132321"},"categoryName":{"type":"string","example":"음반>가요>LP"},"publisher":{"type":"string","example":"알라딘(디폴트)"}}},"PageResponseNewReleaseResponse":{"type":"object","description":"페이지 응답","properties":{"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/NewReleaseResponse"}},"page":{"type":"integer","format":"int32","description":"0부터 시작하는 페이지 번호","example":0},"size":{"type":"integer","format":"int32","description":"페이지 크기","example":20},"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수","example":120},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수","example":6},"hasNext":{"type":"boolean","description":"다음 페이지 존재 여부","example":true}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}